version: 2

updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"

  - package-ecosystem: "uv"
    directory: "/" # Location of package manifests
    schedule:
      interval: "monthly"
