# uv-based; lint, format, test with a single Python version on Ubuntu Linux

name: Python application with uv

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@v5
      with:
        version: "0.8.8"
        python-version: 3.12

    - name: Install the project and locked dependencies
      run: uv sync --locked  # Includes `dev` group by default

    - name: Run tests
      run: uv run pytest .

    - name: Check format with ruff
      # Exit with error if the code is not properly formatted
      run: uv run ruff format --check --diff

    - name: Check linting with ruff
      # Exit with error if the code has issues
      run: uv run ruff check --output-format github

    - name: Check typing
      run: uv run mypy .
